<NavTitle ToggleNavMenu="@ToggleNavMenu" />

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <NavItem Icon="oi-home">Home</NavItem>
        <NavItem Icon="oi-minus">Badges</NavItem>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
